.md-typeset h1, .md-typeset h2 {font-weight: 600;}
.md-typeset h4 {font-size: 1.8rem; margin: 3.2rem 0 1.6rem; font-weight: 400;}
.md-footer-copyright > a {color: hsla(0,0%,100%,.3) !important;}
.md-tabs__item {text-transform: uppercase;}
a.md-tabs__link.md-tabs__link--active {border-bottom: 1px solid #fff;}